- content_for :title, @comic.name

.section.main.clearfix
  %h2= link_to @comic.name, @comic
  - if @panel.html.present?
    = @panel.html.html_safe
  - else
    = image_tag @panel.url, :class => "block"
  - if @panel.text?
    .panel_text= @panel.rendered_text.html_safe
.nav.clearfix
  = link_to_previous_page @panels, "Prev", :class => "previous_page left"
  = link_to "Archive", @comic, :class => "archive_link left"
  = link_to_next_page @panels, "Next", :class => "next_page right"
