- content_for :title, "Archive for #{@comic.name}"

.section.clearfix
  %h2
    Archive:
    = @comic.name
  %ul
    - @comic.panels.count.downto(1) do |i|
      %li
        = @comic.created_at.strftime("%Y/%m/%d")
        &mdash;
        = link_to comic_panel_url(@comic, i) do
          %strong
            = @comic.name
            \##{i}
